<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Khai báo MenuActivity ở đây -->
        <activity android:name=".MenuActivity"
            android:exported="false">
        </activity>

        <!-- Các activity khác -->
        <activity android:name=".LoginActivity"
            android:exported="false">
        </activity>

        <activity android:name=".StartGuideScreenActivity"
            android:exported="false">
        </activity>

        <activity android:name=".WasteSortingGuideMainActivity"
            android:exported="false">
        </activity>

        <activity android:name=".StartGameScreenActivity"
            android:exported="false">
        </activity>

        <activity android:name=".IdentifyItemActivity"
            android:exported="false">
        </activity>

        <activity android:name=".IdentifyItemActivity2"
            android:exported="false">
        </activity>


        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
